bokeh
dask
distributed
flask
h5py
ipython
ipywidgets
jupyter
matplotlib
notebook
numba
numpy
pandas
pytest
requests
scikit-image
scikit-learn
scipy
seaborn
spyder
statsmodels
sympy
torch
torchvision
wandb 
pytorch_warmup
seaborn 
pyro-ppl

